body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}
.card img{
  width: 100px;
}
.title{
  color: #c44141;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  text-align: center;
  
}
.row{
  width: 300px;
}
.text{
  text-align: center;
}
.prise{
  text-align: center;
  color: rgb(97, 97, 97);
}
.sum{
  text-align: center;
}
.col{
  text-align: center;
  background-color: rgb(226, 223, 223);
  color: rgb(112, 112, 112);
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}
.col p{
  margin: 0;
}
.input{
  margin-top: 10px;
display: flex;
justify-content: center;
}
.input a{
	display: inline-block;
	vertical-align: top;
	color: #fff;
  background-color: rgb(185, 72, 72);
	text-decoration: none;
	width: 50px;
  height: 33px;
  text-align: center;
  padding-top: 17px;
  margin: 0 5px;
}
.input input{
  width: 170px;
  height: 46px;
  border: 1px solid rgb(185, 72, 72);
  text-align: center;
}
.button a{
	display: inline-block;
	vertical-align: top;
	color: #fff;
  background-color: rgb(185, 72, 72);
	text-decoration: none;
	width: 288px;
  height: 33px;
  text-align: center;
  padding-top: 17px;
  margin: 6px;
}